@using System
@using System.Collections.Generic
@using Sandbox.UI
@using ShartCoding.Attributes
@using ShartCoding.ShartCode
@using ShartCoding.UI.CodeBlockPanels

@inherits Sandbox.UI.Panel

<root class="block border-white column">
	<div class="header">
		<h5>Function "@Function.Name"</h5>
		<ToggleButton Pressed:bind="@_hidden" IconPressed="material-symbols:expand-content" IconReleased="material-symbols:collapse-content"/>
	</div>

	<div class="column @( _hidden ? "hidden" : "" )">
		<div>Arguments:</div>
		@if ( Function.Arguments.Count > 0 )
		{
			@foreach ( var arg in Function.Arguments )
			{
				<div>@arg.Key : @arg.Value</div>
			}
		}
		else
		{
			<div>None</div>
		}
		<div class="hr"></div>
		<FunctionBlockPanel CodeBlocks="@( Function.CodeBlocks )"/>
	</div>
</root>

@code {

	public ShartCodeFunction Function { get; set; }

	private bool _hidden;

	protected override int BuildHash() => HashCode.Combine( _hidden, Function );

}
